.display-flex{
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
    max-width: 1400px;
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    margin-left: 450px;
    font-size: 20px;
    font-weight: 500;   
}
.school{
    font-size: 32px;
    font-weight: 700;
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: rgb(5, 212, 223);
}
.admission{
    color: rgb(93, 88, 239);
}
.btn{
    margin-right: 200px;
    margin-left: 500px;
}
.contact{
    padding: 10px 50px;
    color: white;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    border: 1px solid rgb(254, 163, 1);
}
.nav-logo{
     align-items: center;
     margin-left: 200px;
}

/* banner part */
.banner-part{
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.banner-title{
    font-size: 56px;
font-weight: 700;
}
.Empowering{
    color: orange;
}
.vision{
    color: rgb(1, 172, 253);
}
.banner{
    max-width: 600px;
    margin-left: 100px;
}
.banner-pic{
    margin-right: 40px;
}
.banner-description{
    color: rgb(17, 17, 17);
font-size: 20px;
font-weight: 400;
}
.btn-enroll{
    padding: 10px 50px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 12px;
}